#navbar{
    flex-direction: column;   
}
.navbr{
    transition: 0.4s;
    height: 200px;
}
#navbar li a{
    padding: 0%;
}
#home{
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 104px;
    
}
#navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burger{
    display: block;
}
.h-nav-resp{
    height: 72px;
}
.v-ul-resp{
    visibility: hidden;
}
#home::before{
    height: 525px;
    margin-bottom: 2px;
}
#services {
    flex-direction: column;
    align-items: center;
}
#services .box{
    width: 90%;
}
#clients{
    overflow: hidden;
}
.clients img{
    height: 60px;
}
.client-item{
    padding: 3px;
}
#client-section::before{
    height: 105px;
}
.h-primary{
    font-size: 1.6rem;
}
#contact-box input,#contact-box textarea{
    width: 98%;
}